<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UWI Discover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A16368B1C52C3C9002E361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1636A11C52C3C9002E361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1636AC1C52C3C9002E361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
